@model IEnumerable<Ece_Berker_Project.Models.Yorum>
@inject UserManager<YorumluoUser> UserManager
@inject SignInManager<YorumluoUser> SignInManager
<style>
    .user-wrapper {
    }

    .category-name {
        margin-right: 15px;
    }

    .user-comment {
        font-size: 11pt;
    }

    .user-name {
        font-size: 11pt;
    }
</style>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js" type="text/javascript"></script>
</head>
<h6 class="border-bottom border-gray pb-2 mb-0">Son Yorumlar</h6>

@{
    Task<YorumluoUser> GetCurrentUserAsync() => UserManager.GetUserAsync(User);

    var user = await GetCurrentUserAsync();

}
<body>
    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            @foreach (var item in Model)
            {
                <div class="media text-muted pt-3" id="myForm">
                    <img alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="~/img/@item.User.PhotoPath" data-holder-rendered="true">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <a asp-controller="Profile" asp-action="Details" asp-route-id="@item.UserName"> <strong class="d-block text-gray-dark user-name">@item.UserName</strong></a>
                        <span class="badge badge-primary category-name">@item.Category.Name</span>
                        <span class="user-comment">
                            @item.Title
                        </span>
                        <span class="float-right">
                            @item.PostDate
                        </span>
                        <input type="hidden" class="YorumId" value="@item.Id" id="YorumId" />
                        <p id="Status"></p>
                        <a class="float-right border border-light rounded bg-light" id="Like" asp-controller="Account" asp-action="Like" asp-route-id="@item.Id">Like</a>
                        <a class="float-right border border-light rounded bg-light" id="Unlike" asp-controller="Account" asp-action="Unlike" asp-route-id="@item.Id">Unike</a>
                        @if (SignInManager.IsSignedIn(User))
                        {

                            if (user.UserCode == item.UserName)
                            {
                                <a class="float-right border border-light rounded bg-light" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                            }
                        }

                    </div>

                </div>
            }
        </div>
    </main>
    <script type="text/javascript">
        $(document).ready(function () {
            var ids = document.getElementsByClassName("YorumId");
            var YorumId = [];
            for (var i = 0; i < ids.length; i++) {
                YorumId.push(ids[i].value);

            }

            console.log(YorumId);

            $(function (){
                $.each(YorumId, function (i, value) {

                    $.ajax({
                       
                        traditional: true,
                        url: "/Account/CheckLikedBefore",
                        type: "GET",
                        dataType: "json",
                        data: { YorumId: YorumId },
                        success: function (data) {

                            if (data == 0)
                                $("#Unlike").hide();
                            else if (data == 1)
                                $("#Like").hide();
                        }
                    });
                });
            });





                   
        });
              
    </script>
</body>
