@model IEnumerable<Ece_Berker_Project.Models.Yorum>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<YorumluoUser> SignInManager
@inject UserManager<YorumluoUser> UserManager

@{
    ViewData["Title"] = "Anasayfa";
}

<h1></h1>

<p>
    @Html.Partial("_NewYorum", new Ece_Berker_Project.Models.Yorum())

</p>

@foreach (var item in Model)
{
    

    <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="~/img/" data-holder-rendered="true">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <a asp-controller="Profile" asp-action="Details" asp-route-id="@item.UserName"><strong class="d-block text-gray-dark">@item.UserName</strong></a>

            <span class="badge badge-primary category-name">@item.Category.Name</span>
            <span class="user-comment">
                @item.Title
            </span>
            <span class="float-right">
                @item.PostDate
            </span>
            @if (SignInManager.IsSignedIn(User))
            {
                Task<YorumluoUser> GetCurrentUserAsync() => UserManager.GetUserAsync(User);

                var user = await GetCurrentUserAsync();

                if (user.UserCode == item.UserName)
                {
                    <a class="float-right" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                }
            }

        </div>

    </div>


}